/*https://coolors.co/0d1f2d-546a7b-9ea3b0-fae1df-e4c3ad*/

.App {
  text-align: left;
  color: #fae1df;
}

.grid-container {
  background-color: #0d1f2d;
  display: grid;

  grid-template-columns: 20% 20% 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "left mid right";

  height: 100vh;

  }

  .left{
    grid-area: left;
  }

  .right{
    grid-area: right;
  }

  .mid{
    grid-area: mid;
  }